.clock-container {
    position: absolute;
    left: 50%;
    top: 50%;
}

.clock {
    text-align: center;
    color: orange;
    background-color: rgba(138, 138, 138, 0.295);
    padding: 10px;
    border-radius: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-nav {
    padding: 2rem;
    text-align: center;
}

.footer-link {
    padding: 2rem;
    font-size: large;
    color: black;
}