body {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: sans-serif;
  line-height: 50px;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to top right, #c7ae1f, #a76222);
}

.footer {
  font-size: medium;
  font-weight: 700;
  position: absolute;
  top: 92%;
  left: 42%;
}

.container {
  background: linear-gradient(to top right, #a8be6d, #f5b14c);
  margin: 0;
  padding: 10px;
  width: 600px;
  height: 500px;
  position: absolute;
  top: 20%;
  left: 30%;
  border-radius: 20px;
  box-shadow: black;
  text-align: center;
}

.login_heading,
.sign_up_heading {
  text-align: center;
  color: wheat;
  text-shadow: black;
}

input {
  padding: 5px;
  width: 400px;
  border-style: none none solid none;
  border-color: rgb(219, 238, 188);
  background: none;
  position: relative;
  margin: 0 auto;
}

.btn {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

img {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}

.links a:link,
.down-side a:link {
  text-decoration: none;
  color: rgb(245, 222, 179);
  margin: 5px;
}

.links a:link:hover,
.left-side a:link:hover {
  color: rgb(200, 255, 0);
}

.left-side a:link {
  color: rgb(7, 52, 94);
}

p {
  margin: 0;
}

.password_strength {
  color: white;
}

input:focus {
  outline: none;
  border-style: none none solid none;
}
.hidden {
  display: none;
}
