html {
  background-color: rgb(255, 255, 255);
}
body {
  min-height: 100vh;
  align-items: center;
  min-height: 100vh;
  background-color: papayawhip;
  margin: 0 auto;
}
/* Header */
/* social-media */
.top-header {
  position: absolute;
  background-color: white;
  right: 0;
  left: 0;
  z-index: 1;
}
.email {
  position: absolute;
  position: fixed;
  top: 5px;
  left: 10%;
}
.email-icon {
  position: fixed;
  font-size: 30px;
  color: #000000;
}
.email-txt {
  position: fixed;
  margin: 2px;
  color: #fd0606;
}
.social-media {
  position: absolute;
  position: fixed;
  left: 87%;
  top: 0;
  margin: 0 7 0 7px;
  z-index: 1;
}
.fa:hover {
  color: #069afd;
}
.fa-twitter:hover {
  color: #55acee;
}
.fa-facebook:hover {
  color: #3b5998;
}
.page-header {
  position: fixed;
  top: 4%;
  right: 2%;
  left: 2%;
  z-index: 1;
  padding: 5px;
  height: 55px;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}
.header-logo,
.footer-logo {
  position: absolute;
  position: fixed;
  height: 70px;
  width: 70px;
  top: 40px;
  left: 20px;
}
.header-logo-img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.search-div {
  position: absolute;
  width: auto;
  height: auto;
  top: 15px;
  left: 10%;
}
.search-field {
  height: 32px;
}
.search:focus {
  outline: none;
  border: none;
}
.search-btn {
  position: absolute;
  left: 100%;
  margin-left: 5px;
  top: 0px;
  height: 32px;
}
.nav-menu {
  position: absolute;
  position: fixed;
  top: 37px;
  right: 35%;
  margin: 5px;
  padding: 7px;
}
.links {
  position: relative;
  text-decoration: none;
  margin: 3px;
  padding: 15px;
  color: rgb(158, 50, 11);
  font-size: 20px;
}
.nav-links a:hover {
  background-color: rgb(211, 209, 209);
  color: rgb(158, 50, 11);
  margin: 5px;
  border-style: none none solid none;
  border-color: #fd6906;
  border-width: 3px;
}
.dropdown {
  display: inline-block;
}
.dropbtn {
  color: rgb(158, 50, 11);
  background: none;
  font-size: 18px;
  border: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: rgb(158, 50, 11);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
  color: #000000;
  border-style: none;
}
.header-btn {
  position: absolute;
  left: 90%;
  top: 5px;
}
/* Main */
.container {
  position: absolute;
  height: 100%;
}
/* Popup */
.popup {
  position: absolute;
  top: 15%;
  left: 99%;
  width: 300px;
  height: 100px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4);
  border-style: none none none solid;
  border-color: #fd6906;
  border-width: 10px;
}
.popup:hover {
  border-style: none none solid none;
  border-color: #fd6906;
  border-width: 10px;
}
.popup-info {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 20;
}
.popup-close-btn {
  position: absolute;
  top: 0;
  padding: 20px;
  left: 90%;
}
/*First section*/
.check-label {
  position: absolute;
  top: 12%;
  left: 45%;
  margin: 10px;
  padding: 10px;
  border-radius: 50px;
  background-color: rgba(172, 172, 172, 0.2);
  box-shadow: 0 7px 10px 0 #00000069;
}
.bi-arrow-down {
  position: absolute;
  top: 14%;
  left: 70%;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(253, 190, 73, 0.205)
  );
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 1px 2px 0 #00000069;
}
.memberships-label {
  position: absolute;
  top: 25%;
  left: 40%;
  margin: 0;
  font-family: "Barlow", sans-serif;
  padding: 10px;
  border-radius: 50px;
  background-color: rgba(214, 184, 102, 0.226);
}
.programs {
  position: absolute;
  display: flex;
  top: 38%;
  left: 20%;
  height: 500px;
  margin: 0px;
  padding: 0;
}
.card {
  width: 250px;
  height: 500px;
  margin: 30px;
  padding: 10px;
  color: white;
  background-image: linear-gradient(
    to bottom right,
    rgb(201, 201, 201),
    rgb(243, 213, 158)
  );
  border-radius: 10px;
}
.program:hover {
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.9);
  border: #ffffff solid;
}
.program li {
  margin: 10px;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  border-radius: 3px;
  list-style-type: none;
}
.program-desc {
  border-style: none none solid none;
}
.program-type {
  background-color: rgb(214, 125, 102);
  border-style: none none solid none;
  text-align: center;
  font-size: 40px;
  list-style-type: none;
}
.price {
  border-style: none none solid none;
  background-color: grey;
  color: orange;
  border-radius: 3px;
  list-style-type: none;
}
.prog-btn {
  padding: 10px;
  text-decoration: none;
  border: red;
  border-radius: 5px;
}

/* table*/
.table {
  position: absolute;
  top: 40%;
  left: 25%;
  margin: 0;
  width: 100%;
  height: 70%;
}
.sessions {
  border: 1px solid orange;
  width: 45%;
  height: 70%;
  box-shadow: 0 8px 12px 0 rgba(107, 100, 4, 0.452);
}
th,
td {
  padding: 8px;
  text-align: left;
  background-color: #94949450;
  color: white;
  margin: 5px;
  font-size: 28px;
  font-weight: 300;
}
th {
  margin: 50px;
  padding-right: 50px;
  color: #fd9206;
  background-color: rgba(206, 206, 206, 0.623);
}
th:hover {
  background-color: #000000;
}
td:hover {
  background-color: rgb(104, 100, 53);
}

/* pagination */
.pagination-div {
  position: absolute;
  top: 5px;
  width: 180%;
  height: 7%;
}
.pagination-nav {
  margin: 10px;
  padding: 10px;
}
.page-item {
  margin: 0;
  padding: 10px 0 0 0;
}
.page-item a:link {
  background-color: black;
  color: wheat;
}
/*footer*/
.footer {
  position: absolute;
  top: 110%;
  right: 2%;
  left: 2%;
  height: 5.5rem;
  background-color: #e7e7e7;
  border-radius: 2px;
  margin: 5px;
}
.footer-left {
  display: flex;
  float: left;
}
.footer-logo {
  position: relative;
  top: 0;
  height: 70px;
  width: 70px;
  left: 20px;
  margin: 10px;
}
.footer-label {
  position: relative;
  top: 20px;
  left: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: medium;
  font-weight: 20;
  color: orange;
}
.footer-right {
  position: relative;
  left: 50%;
}
.footer-nav__link {
  left: 320px;
  padding: 5px;
  margin: 5px;
  font-size: medium;
  color: rgb(156, 154, 154);
}
.footer-nav__link:hover {
  color: orange;
}
.copyright {
  position: relative;
  left: 75%;
  margin: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: small;
  color: rgb(156, 154, 154);
}
/*Style*/
.marked {
  border: 3px solid #fd6106;
}
.hidden {
  display: none;
}
